<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <title>Moments</title>
  </head>
  <body style="background-color:black">
    <div class="jumbotron">
    <div class="container">
      <h1 style="text-align: center">My Blog</h1>
        <p style="text-align: center">Moments with Miss Peter</p>
      </div>
      </div>


    <div class="row">
      <div class="col"><img onclick="location.href='page.html'" src="{%static 'images/art.jpg'%}"class="img-thumbnail"></div>
      <div class="col"><img onclick="location.href='page.html'" src="{%static 'images/cake.jpg'%}"class="img-thumbnail"></div>
      <div class="col"><img onclick="location.href='page.html'" src="{%static 'images/cat.jpg'%}"class="img-thumbnail"></div>
    </div>

    <div class="row">
      <div class="col"><img onclick="location.href='page.html'" src="{%static 'images/computer.jpg'%}"class="img-thumbnail"></div>
      <div class="col"><img onclick="location.href='page.html'" src="{%static 'images/picnic.jpg'%}"class="img-thumbnail"></div>
      <div class="col"><img onclick="location.href='page.html'" src="{%static 'images/weeds.jpg'%}"class="img-thumbnail"></div>
    </div>

    <div class="text-primary">
      <h1>Our daily Quotes</h1>
      <p>People love quotes</p>
      <blockquote class="blockquote">
        <p>"Writing is its own reward." </p>
        <footer class="blockquote-footer"> from Ursula K. Le Guin</footer>
      </blockquote>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery"></script>
    <script src="./js/popper.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
